h1,h2,h3,h4,h5,h6,p{
    text-rendering:optimizelegibility;
}
.jumbotron{background-image:url("../triangles.svg");background-repeat:no-repeat;background-position:center;background-size:cover;}

.caps{
    font-family: Futura,"Trebuchet MS",Arial,sans-serif;
    padding-left: 0.15em;
}
.vignette{
    min-height:210px;
    transition-duration:0.35s;
    transition-property:background-color;
}
.vignette:hover{background-color:#eeeeee}
#icons h4{
    text-transform:uppercase;
    letter-spacing: 0.15em;
    color:#999999;
    Font-Size:16px;
    line-height:22px;
    /* background-color:#428BCA; */
    min-height:80px;
    padding-top:1em;
}
#icons p{
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:14px;
    color:#999999;
    margin-left:10px;
    margin-right:10px;
    font-weight:normal;
    line-height:30px;
    text-align:center;
}

html, body {
  height: 100%;
}
footer{
    background-color:#eeeeee;
    padding-top:1000px;
    position:absolute;left:0;right:0;padding:25px;
}







#icons>.active a{
    background-color:#f5f5f5;-webkit-border-radius:4px 4px 4px 4px;
    -moz-border-radius:4px 4px 4px 4px;border-radius:4px 4px 4px 4px;
}
#icons>.active a:hover{
    background-color:#f5f5f5;
}

.tab-pane{padding-top:1em;}.tab-pane>.tab-copy{height:9em;}
.details{
    color:#2C7FB8;margin: 0 0 10px;
}



